.container {
  margin-right: auto;
  margin-left: auto;
  width: 980px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.col-6 {
  width: 50%;
  align-items: center;
  justify-content: center;
}
.col-3 {
  width: 23%;
  align-items: center;
  margin-right: 20px;
  justify-content: center;
}
.col-4 {
  width: 33.3%;
  align-items: center;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}
