.container {
  margin-right: auto;
  margin-left: auto;
  width: 980px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-12 {
  width: 100%;
  align-items: center;
  justify-content: center; }

.col-6 {
  width: 50%;
  align-items: center;
  justify-content: center; }

.col-3 {
  width: 23%;
  align-items: center;
  margin-right: 20px;
  justify-content: center; }

.col-4 {
  width: 33.3%;
  align-items: center;
  justify-content: center; }

html {
  scroll-behavior: smooth; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.app__dashboard {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%; }
  .app__dashboard__header {
    padding-top: 10px;
    text-align: center;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px; }
  .app__dashboard__content {
    margin-top: 50px; }
    .app__dashboard__content__item {
      background-color: grey;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-decoration: none;
      display: block;
      padding: 20px;
      margin-right: 20px;
      border-radius: 10px; }
      .app__dashboard__content__item i {
        font-size: 24px;
        margin-right: 20px;
        color: #fcbe00; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.task-1 {
  margin-top: 50px; }
  .task-1__header {
    width: 100%;
    height: 50px;
    background-color: black; }
  .task-1__content {
    margin-top: 50px; }
    .task-1__content__item {
      margin-right: 20px;
      height: 250px;
      background-color: lightgrey;
      margin-bottom: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px; }
  .task-1__footer {
    width: 80%;
    border-radius: 10px;
    margin: 50px auto;
    height: 50px;
    background-color: #f6a5e9; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.task-2 {
  margin-top: 20px !important;
  width: 80%;
  margin: 0 auto; }
  .task-2__header {
    width: 100%; }
    .task-2__header--top {
      background-color: #c3c3c3;
      padding: 50px;
      text-align: center; }
      .task-2__header--top__title {
        margin-bottom: 30px; }
        .task-2__header--top__title__item {
          font-weight: bold;
          font-size: 50px; }
      .task-2__header--top__desc {
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 32px; }
    .task-2__header--bottom__navigation__links {
      display: flex;
      justify-content: space-around; }
      .task-2__header--bottom__navigation__links li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 50px;
        width: 100%; }
  .task-2__main__project {
    margin-bottom: 30px;
    border: 1px solid lightgrey;
    padding: 20px; }
    .task-2__main__project__title--main--title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px; }
    .task-2__main__project__title--sub--title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px; }
    .task-2__main__project__features {
      margin-left: 40px;
      margin-top: 10px; }
      .task-2__main__project__features__list {
        list-style: disc; }
        .task-2__main__project__features__list li {
          margin-bottom: 5px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.task-3 {
  width: 100%; }
  .task-3__header {
    border: 2px solid black; }
    .task-3__header__navigation {
      width: 50%;
      margin: 0 auto; }
      .task-3__header__navigation__links {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .task-3__header__navigation__links li {
          width: 100%;
          display: flex;
          align-items: center;
          font-weight: bold;
          text-transform: uppercase;
          justify-content: center; }
  .task-3__main {
    width: 95%;
    margin: 50px auto; }
    .task-3__main__filter__items__item {
      margin-bottom: 10px; }
      .task-3__main__filter__items__item span {
        margin-left: 5px;
        color: grey; }
    .task-3__main__card {
      margin-bottom: 30px; }
      .task-3__main__card__image img {
        width: 100%; }
      .task-3__main__card__body {
        width: 90%;
        margin: 0 auto; }
        .task-3__main__card__body__title__price {
          display: flex;
          margin-top: 20px;
          justify-content: space-between;
          margin-bottom: 20px; }
        .task-3__main__card__body__category {
          margin-bottom: 20px;
          color: grey; }
        .task-3__main__card__body__stock {
          color: grey; }
